<h2 class="show_name">
  <%= @restaurant.name.upcase %>
  <%= link_to "(edit)", edit_restaurant_path %>
  <%= link_to '(delete)', restaurant_path,
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
</h2>
<p><%= @restaurant.address %></p>
<p><%= image_tag (@restaurant.photo_url) %></p>

<h3 class="ratings_title"> Average Rating: <%= @restaurant.average_rating %> </h3>

<%= form_for [@restaurant,@rating] do |f| %>
<%= f.select(:value, 1..10) %>
<%= f.hidden_field :restaurant_id, value: @restaurant.id %>
<%= f.submit "Rate this Restaurant" %>
<% end %>


<h3 class="reviews_title"> REVIEWS:</h3>
<div class="review_box">
<% @restaurant.reviews.each do |rvw| %>
  <div class="review">
    <%= rvw.comment %>
    <%= link_to '(Delete)', review_path(rvw),
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %>
    <%= link_to '(Edit)', edit_review_path(rvw) %>
  </div>
<% end %>
</div>

<%= form_for Review.new do |f| %>
  <%= f.text_area :comment %>
  <%= f.hidden_field :restaurant_id, value: @restaurant.id %>

  <%= f.submit %>
<% end %>
