<%= form_for @category do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <ul>
        <h2>errors:</h2>
        <% @category.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </ul>
    </div>
  <% end  %>
  <p>
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
 <% end %>
