<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">
  <h1 id="title">eat</h1>
  <%= link_to "HOME", root_path %>
  <%= link_to "ALL RESTAURANTS", restaurants_path %>
  <%= link_to "ADD NEW RESTAURANT", new_restaurant_path %>
  <%= link_to "CATEGORIES", categories_path %>

  </div>

<%= yield %>

</body>
</html>
