<!DOCTYPE html>
<html>
<head>
  <title>RESREV</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 id="title">RESREV</h1>


<nav>
  <%= link_to "HOME", root_path %>
  <%= link_to "ALL RESTAURANTS", restaurants_path %>
  <%= link_to "ADD NEW RESTAURANT", new_restaurant_path %>
  <%= link_to "CATEGORIES", categories_path %>
  <span class= "authentication">

    <% if current_user %>
       <%= link_to current_user.username, user_path(current_user) %>
      <%= link_to "SIGN OUT", signout_path %>
    <% else %>
      <%= link_to "SIGN IN", signin_path %>
      <%= link_to "SIGN UP", signup_path %>
    <% end %>
  </span>
</nav>

<% flash.each do |type, message| %>
  <p class= "flash <%= type %>">
    <%= message %>
  </p>
<% end %>

<div class="input">
<%= yield %>
</div>

</body>
</html>
